/**** Buttons ****/
.btn-solid, .btn-min-solid, .btn-outline, .btn-min-outline   {display: inline-flex; align-items: center; 
  justify-content: center; border-radius: 0px;
  cursor: pointer; transition: all 0.3s; text-decoration: none; gap: 8px; border:0;
}
.btn-solid {padding: 16px 30px; font-weight:500 !important; font-size:16px; border-radius: 16px;}
.btn-min-solid {padding: 8px 16px; gap: 5px; font-weight:400 !important;}
.btn-outline {border: 2px solid; padding: 14px 30px; font-weight:500 !important; font-size:0px; 
              border-radius: 16px;}
.btn-min-outline {border: 1px solid; padding: 7px 16px; gap: 5px; font-weight:400 !important;}

.btn-solid, .btn-min-solid {background: var(--primary); color: #000;}
.btn-solid:disabled, .btn-min-solid:disabled {background:#333; color:#999; cursor:default;}
.btn-solid:disabled i, .btn-min-solid:disabled i {color:#999;}
.btn-outline, .btn-min-outline {border-color: var(--primary); color: #fff;}

.btn-solid i, .btn-min-solid i {color:#000; }
.btn-outline i, .btn-min-outline i {color:var(--primary);}
.btn-solid img, .btn-min-solid img {height:16px; top:2px; position:relative;}

.btn-solid.blue, .btn-min-solid.blue {background: var(--blue);}
.btn-outline.blue, .btn-min-outline.blue {border-color: var(--blue);}

.btn-min-solid .fa-caret-down, .btn-solid .fa-caret-down {font-size:8px; color:#000000;}
.btn-min-outline .fa-caret-down, .btn-outline .fa-caret-down {font-size:8px; color:#fff;}
.btn-group {display:flex; flex-wrap:wrap; justify-content:center; gap:20px; width:100%;}
.input__min .btn-min-solid {border-radius:10px; font-size:16px; padding:12px 14px;}

.btn-solid.gray {background:#252525; color:#ccc;}
.btn-solid.gray i {color:#ccc; transition:all 0.3s;}

.btn-min-solid.red, .btn-solid.red {background:#ff0000; color:#ffffff;}
.btn-min-solid.red i, .btn-solid.red i {color:#ffffff;}
.btn-short {padding-right:1rem; padding-left:1rem;}
/***************************/