# секреты
.vscode/sftp.json

# мусор
.DS_Store
Thumbs.db
node_modules/
vendor/
img/

# кэш BladeOne
cache/
*.bladec

# IDE
.idea/
css/icons/
cpahunter(90)color.html
cpahunter_170.html
bladeone/