.embla {
max-width: 100%;
margin: auto;
--slide-height: auto;
--slide-spacing: 30px;
--slide-size: calc(25% - 30px);
}
.embla-mini {
--slide-spacing: 20px;
--slide-size: 20%;
   position:relative; 
}
.embla__viewport {
overflow: hidden;
}
.embla-mini .embla__viewport {padding-top:10px;}
.embla__container {
display: flex;
touch-action: pan-y pinch-zoom;
margin-left: calc(var(--slide-spacing) * -1);
justify-content:start;
}
.embla__slide {
transform: translate3d(0, 0, 0);
flex: 0 0 var(--slide-size);
min-width: 0;
padding-left: var(--slide-spacing);
}
.embla-mini .embla__slide {
flex: 0 0 var(--slide-size);   
flex: 0 0 18.3%;
}
.embla__slide__number {height:100%; display:flex;}
.embla__controls {
display:flex;
justify-content: center;
margin-top: 30px;
}

.embla__buttons {
display:flex;
align-items: center;
gap:20px;
}
.embla__button {
font-size:34px;
color:#8c8c8c;
cursor:pointer;
display:flex;
background:#333333;
border-radius:50%;
cursor:pointer;
width:50px; height:50px;
align-items:center;justify-content:center;
}
.embla__button:disabled {
color: var(--detail-high-contrast);
}

.embla-mini .embla__controls {
 position:relative;    
}
.embla-mini .embla__buttons {
justify-content: center;
width:100%;
}

.embla__dots {
display: flex;
align-items: center;
gap:10px;
}
.embla__dot {
-webkit-appearance: none;
appearance: none;
touch-action: manipulation;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
border-radius: 30px;
 border:0; 
 background: #383838;
}
.embla__dot:after {
width: 13px;
height: 13px;
border-radius: 30px;
content: '';
background: #383838;
transition:all 0.6s; 

}
.embla__dot--selected:after {
background: #bfff00; width: 24px;
}
/*******************************/

@media (max-width: 1000px) {
.embla {--slide-size: 41%; }
.embla-mini {--slide-size: 27%; --slide-spacing: 10px;}
.embla-mini .embla__slide {flex: 0 0 var(--slide-size);}   
}

@media (max-width: 640px) {
.embla {--slide-size: calc(50% - 10px); --slide-spacing: 10px; margin:0 -10px 0px -10px; max-width:calc(100% + 20px);}
.embla-mini {--slide-size: 36%; --slide-spacing: 10px; margin:0 -20px 0px -10px; max-width:calc(100% + 20px);}    
.embla__controls {margin-left:0px; margin-right:0px; justify-content:center;}
.embla-mini .embla__controls {display:none;}
.embla__buttons {display:none;} 

.embla__dot:after {width: 10px;height: 10px;}
.embla__dot--selected:after {width: 24px;} 
}
@media (max-width: 431px) {
.embla {--slide-size: 56%; }
}
@media (max-width: 330px) {
.embla {--slide-size: 70%; }
}

.embla,
.embla__viewport,
.embla__container {
  touch-action: pan-y !important;
  -webkit-overflow-scrolling: touch !important;
}